{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %}
<h1>Liste des manuscrits de la bibliothèque du Patrimoine de Clermont Auvergne Métropole</h1>
    <!-- Formulaire de recherche -->
    <form method="get" action="">
        <input type="text" name="search" placeholder="Rechercher un livre..." value="{{ searchQuery }}">
        <button type="submit">🔍 Rechercher</button>
    </form>

    <table>
    <tr>
        <th>Référence</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Actions</th>
    </tr>
    {% for document in list %}
    <tr>
        <td>{{ document._id }}</td>
        <td>{{ document.titre }}</td>
        <td>{{ document.auteur }}</td>
        <td><a href="get.php?id={{ document._id }}">voir</a>&nbsp;/&nbsp;<a href="edit.php?id={{ document._id }}">éditer</a>&nbsp;/&nbsp;<a href="delete.php?id={{ document._id }}">supprimer</a></td>
    </tr>
    {% endfor %}
</table>
<!-- Pagination -->
{% if totalPages > 1 %}
    <div>
        {% if page > 1 %}
            <a href="?page={{ page - 1 }}">⬅ Précédent</a>
        {% endif %}

        Page {{ page }} / {{ totalPages }}

        {% if page < totalPages %}
            <a href="?page={{ page + 1 }}">Suivant ➡</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}