{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %}
    <h1>Liste des manuscrits de la bibliothèque du Patrimoine de Clermont Auvergne Métropole</h1>

    <!-- Formulaire de recherche -->
    <h2>Rechercher un Livre</h2>
    <form action="" method="GET">
        <label for="searchTitre">Titre :</label>
        <input type="text" id="searchTitre" name="searchTitre" value="{{ searchTitre }}">

        <label for="searchAuteur">Auteur :</label>
        <input type="text" id="searchAuteur" name="searchAuteur" value="{{ searchAuteur }}">

        <button type="submit">Rechercher</button>
    </form>

    <table>
        <tr>
            <th>Référence</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Actions</th>
        </tr>
        {% for document in list %}
            <tr>
                <td>{{ document._id }}</td>
                <td>{{ document.titre }}</td>
                <td>{{ document.auteur }}</td>
                <td>
                    <a href="get.php?id={{ document._id }}">voir</a>&nbsp;/&nbsp;
                    <a href="edit.php?id={{ document._id }}">éditer</a>&nbsp;/&nbsp;
                    <a href="delete.php?id={{ document._id }}">supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!-- Pagination -->
    {% if totalPages > 1 %}
        <div>
            {% if page > 1 %}
                <a href="?page={{ page - 1 }}&search={{ searchQuery }}">⬅ Précédent</a>
            {% endif %}

            Page {{ page }} / {{ totalPages }}

            {% if page < totalPages %}
                <a href="?page={{ page + 1 }}&search={{ searchQuery }}">Suivant ➡</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
